<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Articles</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
           Welcome {{ user.username }} || <a href="{% url 'article-new' %}">Create New Article</a> || <a href="{% url 'home' %}">My Articles</a> || <a href="{% url 'logout' %}">logout</a> ||
        {% else %}
            <a href="{% url 'login' %}">Login</a> || <a href="{% url 'signup' %}">Signup</a> ||
        {% endif %}
    </nav>

    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ msg.message }}
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% for feed in object_list %}
            <h2><a href="{% url 'show' feed.pk %}" >{{ feed.title }} By {{ feed.owner.username }}</a> |{{ feed.comment_count }}comments</h2>
            {{ feed.body|slice:":50" }}...
        {% endfor %}
    </main>
</body>
</html>